* {
    background-color: rgb(198, 198, 253);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li {
    margin-bottom: 1rem;
}

.content {
    text-align: center;
}

.content > ul, ol {
    text-align: left;
    display: inline-block;
    max-width: 480px;
}

img {
    width: 480px;
}

.home-icon {
    height: auto;
    width: 200px;
}